#outerdiv {
width:800px;
height:200px;
overflow:hidden;
position:relative;
}
.c1{
position:absolute;
top:-100px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c2{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c3{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c4{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c5{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c6{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
.c7{
position:absolute;
top:-180px!important;
left:-390px!important;
width:1280px!important; 
height:650px!important;
}
